window {
    background-color: rgba (255, 255, 255, 1.0);
    color: #000000
}

/* search entry */
entry {
    background-color: rgba (0, 0, 0, 0.2)
}

button, image {
    	background-color: #FFFFFF;
	background: none;
	color: #000000;
        border: 1px solid black
}


button:hover {
	color: #FFFFFF;
    background-color: rgba (0, 0, 0, 1.0)
}

/* in case you wanted to give category buttons a different look */
#category-button {
    margin: 0 10px 0 10px
}

#pinned-box {
    padding-bottom: 5px;
    border-bottom: 1px dotted gray
}

#files-box {
    padding: 5px;
    border: 1px dotted gray;
    border-radius: 15px
}
