* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 17px;
}

window#waybar {
    background-color: #D3D3D3;
    border-bottom: 1px solid rgba(0, 0, 0, 1.0);
    color: #000000;
    padding: 4px 7px 4px 7px;			
    transition-property: background-color;
    transition-duration: .1s;
}

window#waybar.hidden {
    opacity: 0.1;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

#workspaces button {
    background-color: rgba(255, 255, 255, 1.00);
    color: #000000;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each workspace name */
    border: 1px solid #000000;
    border-radius: 500;
    margin: 6px 5px 3px 5px;
    padding: 4px 7px 4px 7px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: #000000;
    color: #ffffff;
    border: 2px solid #ffffff;
    /* box-shadow: inset 0 -3px #ffffff; */
}

#workspaces button.focused {
    color: #FFFFFF;
    background-color: #000000;
    border: 1px solid #000000;
}

#workspaces button.urgent {
    color: #ffffff;
    background-color: #D3D3D3;
}

#mode {
    background-color: transparent;
    color: #000000;
    border-bottom: 3px solid #ffffff;
}

#battery,
#idle_inhibitor,
#backlight,
#memory,
#disk,
#cpu,
#temperature,
#network,
#pulseaudio,
#custom-media  {
	background-color: #FFFFFF;
	 /*  background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)); */
	text-shadow: none;
	color: #000000;
    border-bottom: 1px solid #000000;
    border-left: 0px solid #000000;
    border-right: 1px solid #000000;
    margin: 0px;
    padding: 2px 6px 0px 6px;
    border-radius: 0px 0px 3px 3px;
}


#custom-powermenu {
	background-color: #ffffff;
	color: #000000;
	text-shadow: none;
    border-bottom: 2px solid #000000;
    border-left: 0px solid #000000;
    border-right: 3px solid #000000;
    margin: 0px;
    padding: 6px 10px 0px 6px;
    border-radius: 0px 0px 3px 3px;
}

#custom-powermenu button:hover {
    background: #000000;
    color: #ffffff;
    border: 2px solid #ffffff;
    /* box-shadow: inset 0 -3px #ffffff; */
}


#clock,
#tray,
#mpd,
#window  {
    padding: 12px 5px 0px 5px;
    color: #000000;
}


#workspaces {
    margin: 0px 0px 0px 0px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}



#battery.charging, #battery.plugged {
    background-color: #808080;
    color: #ffffff;
}


#battery.critical:not(.charging) {
    background-color: #ffffff;
    color: #000000;
    animation-name: blink;
    animation-duration: 1.0s;
    animation-timing-function: steps(2, start);
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes blink {
    50% {
        background-color: #000000;
        color: #ffffff;
    }
}

label:focus {
    background-color: #000000;
}

#network.disconnected {
    background-color: #808080;
    color: #ffffff;
}


#pulseaudio.muted {
    background-color: #808080;
    color: #ffffff;
}

#custom-media {
    background-color: transparent;
    color: #000000;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}


#temperature.critical {
    background-color: #808080;
    color: #000000;
}

#tray {
    background-color: transparent;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #808080;
}


#idle_inhibitor.activated {
    background-color: #ffffff;
    color: #000000;
}

#mpd {
    background-color: transparent;
    color: #000000;
}

#mpd.disconnected {
    background-color: #808080;
    color: #ffffff;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}


#language {
    background: transparent;
    color: #000000;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}
