[{
   "id": "hw",
   "ipc": true,
   "mode": "hide",
   "layer": "top",
   "passthrough": false,
   "exclusive": true,
   "position": "topleft",
   "width": 5,
   "margin-left": 1,
   "margin-top": 1,
   "fixed-center": false,
   "spacing": 0, // Gaps between modules
   "include": [
       "~/.config/waybar/waybar_modules.json",
   ],
   "modules-left": ["battery", "network", "bluetooth", "pulseaudio", "custom/waybar_expand"]
},
{
   "id": "hw_expanded",
   "ipc": true,
   "name": "bar",
   "mode": "hide",
   "position": "topleft",
   "layer": "overlay",
   "passthrough": false,
   "exclusive": true,
   "width": 5,
   "spacing": 0, // Gaps between modules
   "margin": 0,
   "include": [
       "~/.config/waybar/waybar_modules.json",
   ],
   "modules-left": ["battery", "network", "bluetooth", "pulseaudio", "custom/display", "cpu", "memory", "temperature", "custom/waybar_collapse"],
},

{
   "id": "center",
   "ipc": true,
   "name": "bar",
   "position": "topright",
//   "hidden_state": "show",
   "layer": "top",
   "passthrough": false,
   "exclusive": true,
   "width": 5,
   "spacing": 0, // Gaps between modules
   "margin": 0,
   "fixed-center": false,
   "include": [
       "~/.config/waybar/waybar_modules.json",
   ],
   "modules-right": ["sway/workspaces", "sway/window", "custom/ctrlpanel", "clock"]
}]
