{
   "bar_id": "hw_center_input",
  "ipc": false,
//   "mode": "dock",
   "hidden_state": "show",
   "layer": "top",
   "passthrough": false,
   "exclusive": false,
   "spacing": 0, // Gaps between modules
   "margin": 0,
   "fixed-center": true,
   "modules-left": ["battery", "network", "bluetooth", "pulseaudio", "custom/waybar_expand"],
   "modules-center": ["sway/workspaces", "sway/window", "custom/ctrlpanel",  "clock"], 
 //custom/display removed
//   "modules-right": ["custom/copy", "custom/paste", "custom/screenshot", "custom/stylusmode", "custom/touchmode"],

 "clock": {
        "format": "{:%H:%M}",
        "format-alt": "{:%R - %a %d. %b}",
        "tooltip-format": "<tt><small>{calendar}</small></tt>",
        "calendar": {
                    "mode"          : "year",
                    "mode-mon-col"  : 3,
                    "weeks-pos"     : "right",
                    "on-scroll"     : 1,
                    "on-double-click": "mode",
                    "format": {
                              "months":     "<span color='#ffead3'><b>{}</b></span>",
                              "days":       "<span color='#ecc6d9'><b>{}</b></span>",
                              "weeks":      "<span color='#99ffdd'><b>W{}</b></span>",
                              "weekdays":   "<span color='#ffcc66'><b>{}</b></span>",
                              "today":      "<span color='#ff6699'><b><u>{}</u></b></span>"
                              }
                    }
    },

"bluetooth": {
	// "controller": "controller1", // specify the alias of the controller if there are more than 1 on the system
	"format-off": "<span font='18' rise='-10000'></span>",
	"format-on": "<span font='18' rise='-10000'></span>",
	"format-disabled": "<span font='18' rise='-10000'></span>", // an empty format will hide the module
	"format-connected": "<span font='18' rise='-10000'></span>",
	"format-alt": "<span font='18'>﬎</span> <span rise='7000'>{device_alias} {device_battery_percentage}</span>",
	"tooltip-format": "{controller_alias}\t{controller_address}",
	"tooltip-format-connected": "{controller_alias}\t{controller_address}\n\n{device_enumerate}",
	"tooltip-format-enumerate-connected": "{device_alias}\t{device_address}",
	"on-double-click": "exec blueman-manager",
	"min-length": 1
},

"sway/window": {
    "format": "{title} - {app_id}",
    "max-length": 30,
    "min-length": 5,
    "on-click": "echo 1 > /tmp/swovcp ; echo 1 & echo 1 > /tmp/sovpipe",
    "rewrite": {
       "": "<span font='18' rise='-10000'></span>",
       "m4n4pe@alarm:": "",
       "nemo": "<span font='18' rise='-10000'></span>",
       "libreoffice-writer": "<span font='18' rise='-10000'></span>",
       "org.pwmt.zathura": "<span font='18' rise='-10000'></span>",
       "Alacritty": "<span font='18' rise='-10000'></span>",
       "Mozilla Firefox": "<span font='18' rise='-10000'></span>",
       "(.*) - vim": " ^d  $1",
       "(.*) - GNU Emacs": "Emacs $1"
    }
  },

"sway/workspaces": {
    "format": "<span font='18' rise='-10000'>{icon}</span>",
    "current-only": true,
    "disable-click": true,
    "on-click": "echo 1 > /tmp/swovcp ; echo 1 & echo 1 > /tmp/sovpipe",
    "format-icons": {
            "1": "",
            "2": "",
            "3": "",
            "4": "",
            "5": "",
            "6": "",
            "7": "",
            "8": "",
            "9": ""
    }
  },
 
"custom/waybar_expand": {
    "format": "<span font='12'></span>",
    "on-click": "/usr/local/bin/waybar_expand.sh",
    "on-double-click": "/usr/local/bin/waybar_expand_doubleclick.sh"
  },

"custom/waybar_collapse": {
    "format": "^",
    "on-click": "/usr/local/bin/waybar_hide.sh"
  },

"custom/ctrlpanel": {
    "format": "<span font='14'></span>",
    "on-click": "echo 1 > /tmp/wcp"
  },

// "custom/display": {
//    "format": "<span font='18'></span>",
//    "on-click": "/usr/local/bin/wofi_display.sh",
//    "min-length": 1
// },

    "tray": {
        // "icon-size": 21,
        "spacing": 10
    },
    "battery": {
       "states": {
        //  "good": 95,
            "warning": 30,
            "critical": 15
        },
        "bat": "rk817-battery",
        "interval": 60,
        "format": "<span font='18'>{icon}</span>",
      //  "format-charging": "<span font='18'> </span>",
     //   "format-plugged": "<span font='18'></span>",
        "format-alt": "<span font='18'>{icon}</span> <span rise='7000'>{capacity}% {power:.5}</span>",
        // "format-good": "", // An empty format will hide the module
        // "format-full": "",
	"min-length": 1,
	"format-time": "{H}:{m}",
        "format-icons": ["", "", "", ""]
    },
    
    "network": {
        // "interface": "wlp2*", // (Optional) To force the use of this interface
        "interval": 30,
	"format-wifi": "<span font='18'>{icon}</span>",
        "tooltip-format": "{ifname} via {gwaddr} ", 
        "format-linked": "{ifname} (No IP) ", 
	"format-alt": "<span rise='7000'><span font='18'>{icon}</span></span><span rise='12000'>{signalStrength}: {essid}</span>",
	"format-disconnected": "<span font='18'></span>",
	"format-disabled": "<span font='18'></span>",
        "on-double-click": "/usr/local/bin/wofi_rf.sh",
	"on-scroll-down": "/usr/local/bin/wofi_rf.sh",
	"format-icons": ["", "", "", ""],
	"min-length": 1
      },

    "pulseaudio": {
        // "scroll-step": 1, // %, can be a float
        "format": "<span font='18'>{icon}{format_source}</span>",
        "format-bluetooth": "{icon}{format_source}",
        "format-bluetooth-muted": "<span font='15'>{icon}{format_source}</span>",
        "format-muted": "<span font='15'> {format_source}</span>",
        "format-source": "",
        "format-source-muted": "",
        "format-icons": {
            "headphone": "",
            "hands-free": "",
            "headset": "",
	    "phone": "",
            "portable": "",
            "car": "",
            "default": ["", "", ""]
        },
        "on-click": "pavucontrol",
	"on-double-click": "exec /usr/local/bin/waybar_pa_rclick.sh",
	"min-length": 3
    }

}
