window {
  box-shadow: none;
  border: 2px solid #000000;
}

.maximized {
  border: none;
}

scrolledwindow {
  background-color: #ffffff;
}

headerbar {
  background-color: #ffffff;
  border-bottom: 1px solid #000000;
}

headerbar separator {
  background-color: rgba(0, 0, 0, 0);
}

separator {
  background-color: #000000;
}

searchbar {
  background-color: #ffffff;
}

switch {
  background-color: #ffffff;
  border: 2px solid #000000;
}

switch slider {
  background-color: #000000;
  box-shadow: none;
  min-width: 18px;
  min-height: 18px;
}

switch:checked {
  background-color: #000000;
}

switch:checked slider {
  background-color: #ffffff;
}

popover contents {
  box-shadow: none;
  border: 2px solid #000000;
  color: #000000;
}

popover contents list {
  box-shadow: none;
  border: 2px solid #000000;
}

row {
  border: 1px solid #ffffff;
}

row:hover {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
}

row:selected {
  border: 1px solid #000000;
  background-color: #000000;
  color: #ffffff;
}

row:selected * {
  color: #ffffff;
}

scale trough {
  background-color: #ffffff;
  border: 2px solid #000000;
}

scale highlight {
  background-color: #000000;
}

scale slider {
  box-shadow: none;
  border: 2px solid #000000;
}

levelbar .filled {
  background-color: #000000;
  border: 2px solid #000000;
}

levelbar .empty {
  background-color: #ffffff;
  border: 2px solid #000000;
}

radio {
  box-shadow: none;
  border: 2px solid #000000;
  min-height: 10px;
  min-width: 10px;
}

radio:checked {
  background-color: #000000;
}

combobox * button {
  background-color: #ffffff;
}

.boxed-list, .card {
  box-shadow: none;
  border: 2px solid #000000;
}

.boxed-list row, .boxed-list row:hover {
  border: none;
  border-bottom: 1px solid #000000;
}

.boxed-list row:last-child {
  border-bottom: none;
}

windowcontrols button image {
  background-color: #ffffff;
  border: 2px solid #000000;
}

windowcontrols button:hover image {
  background-color: #000000;
  color: #ffffff;
}

.navigation-sidebar {
  background-color: #ffffff;
  color: #000000;
  border-image-width: 2;
}

.navigation-sidebar * list {
  border: none !important;
}

.view {
  background-color: #ffffff;
  color: #000000;
}

.horizontal {
  color: #000000;
}

.search {
  background-color: #ffffff;
  border: 1px solid #000000;
  color: #000000;
}

.image-button {
  background-color: #ffffff;
}

.text-button {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #000000;
  min-height: 20px;
}

.text-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.suggested-action {
  background-color: #000000;
  color: #ffffff;
}

.messagedialog .response-area button, .dialog-action-area button {
  border: none;
  border-top: 2px solid #000000;
  border-right: 2px solid #000000;
}

.messagedialog .response-area button:last-child, .dialog-action-area button:last-child {
  border: none;
  border-top: 2px solid #000000;
}

.linked button {
  border: 2px solid #000000;
  border-right: none;
}

.linked button:checked {
  background-color: #000000;
  color: #ffffff;
}

.linked button:last-child {
  border-right: 2px solid #000000;
}

.linked.vertical button {
  border: 2px solid #000000;
  border-bottom: none;
}

.linked button:last-child {
  border-bottom: 2px solid #000000;
}

/*app specific styles*/
#NautilusPathBar scrolledwindow {
  border: 2px solid #000000;
  border-right: none;
}

#NautilusPathBar scrolledwindow button {
  border: none;
}

/*# sourceMappingURL=gtk.css.map */
