#main {
    border-radius: 3px;
    border-width: 2px;
    border-color: #000000ff;
    background-color: #ffffffff;
}

.fullscaleview {
    height: 100%;
    width: 100%;
}

.colflex {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.rowflex {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.row {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
}

.flatrow {
    width: 100%;
    height: 30px;
}

.labelback {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    background-color: #ffffffff;
    border-width: 1px;
    border-color: #000000ff;
}

.label {
    width: 100%;
    height: 100%;
    background-color: #ffffff00;
    margin-left: 5px;
    line-height: 25px;
    color: #000000ff;
    font-size: 16px;
    font-family: "Bitter";
}

.button0 {
    width: 30px;
    height: 30px;
    background-color: #ffffff00;
    border-radius: 5px;
}

.button {
    width: 100%;
    height: 30px;
    background-color: #ffffff00;
    color: #ffffff00;
    border-color: #000000ff;
    border-width: 1px;
    border-radius: 5px;
    align-items: center;
}

.slider {
    width: 100%;
    height: 30px;
    background-color: #ffffffff;
    border-width: 1px;
    border-color: #000000ff;
    border-radius: 5px;
}

.sliderbar {
    width: 1%;
    height: 30px;
    background-color: #000000ff;
    border-radius: 5px;
}

.horgap10 {
    width: 100%;
    height: 5px;
}

.vertgap10 {
    width: 5px;
    height: 100%;
}

.margin5 {
    margin: 10px;
}

#muteicon {
    width: 30px;
    height: 30px;
    background-image: url("speaker-simple-high-thin.png");
    blocks: no;
}


#outputicon {
    width: 30px;
    height: 30px;
    background-image: url("speaker-simple-high-thin.png");
    blocks: no;
}

#micicon {
    width: 30px;
    height: 30px;
    background-image: url("microphone-thin.png");
    blocks: no;
}

#muteoutputs {
    width: 30px;
    height: 30px;
    background-image: url("microphone-thin.png");
    blocks: no;
}

#muteinputs {
    width: 30px;
    height: 30px;
    background-image: url("microphone-thin.png");
    blocks: no;
}

#backlightwarmicon {
    width: 30px;
    height: 30px;
    background-image: url("sun-thin.png");
    blocks: no;
}

#backlightcoolicon {
    width: 30px;
    height: 30px;
    background-image: url("snowflake-thin.png");
    blocks: no;
}

#wifiicon {
    width: 30px;
    height: 30px;
    background-image: url("wifi-high-thin.png");
    blocks: no;
}

#bluetoothicon {
    width: 30px;
    height: 30px;
    background-image: url("bluetooth-thin.png");
    blocks: no;
}

#lockicon {
    margin: auto;
    width: 30px;
    height: 30px;
    background-image: url("lock-thin.png");
    blocks: no;
}

#logouticon {
    margin: auto;
    width: 30px;
    height: 30px;
    background-image: url("exit.png");
    blocks: no;
}

#suspendicon {
    margin: auto;
    width: 30px;
    height: 30px;
    background-image: url("suspend.png");
    blocks: no;
}

#pwrmenuicon {
    margin: auto;
    width: 30px;
    height: 30px;
    background-image: url("power-thin.png");
    blocks: no;
}

#rebooticon {
    margin: auto;
    width: 30px;
    height: 30px;
    background-image: url("arrow-clockwise-thin.png");
    blocks: no;
}

#ebcmenuicon {
    margin: auto;
    width: 30px;
    height: 30px;
    background-image: url("drop-half-thin.png");
    blocks: no;
}


#ebchqicon {
    margin: auto;
    width: 30px;
    height: 30px;
    background-image: url("mountains-thin.png");
    blocks: no;
}


#ebcbwicon {
    margin: auto;
    width: 30px;
    height: 30px;
    background-image: url("article-medium-thin.png");
    blocks: no;
}


#statusbaricon {
    margin: auto;
    width: 30px;
    height: 30px;
    background-image: url("activity-thin.png");
    blocks: no;
}

#closewcpicon {
    margin: auto;
    width: 30px;
    height: 30px;
    background-image: url("x-thin.png");
    blocks: no;
}

#muteoutputs {
    margin: auto;
    width: 30px;
    height: 30px;
    background-image: url("arrow-clockwise-thin.png");
    blocks: no;
}
        
#muteinputs {
    margin: auto;
    width: 30px;
    height: 30px;
    background-image: url("arrow-clockwise-thin.png");
    blocks: no;
}
        
#backlightoff{
    margin: auto;
    width: 30px;
    height: 30px;
    background-image: url("arrow-clockwise-thin.png");
    blocks: no;
}
        
#wifioff {
    margin: auto;
    width: 30px;
    height: 30px;
    background-image: url("arrow-clockwise-thin.png");
    blocks: no;
}
        
#bluetoothoff {
    margin: auto;
    width: 30px;
    height: 30px;
    background-image: url("arrow-clockwise-thin.png");
    blocks: no;
}
